<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Image Imagination</title>
  <link rel="stylesheet" href="./image_gallery.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</head>

<body>
  
<nav>
  <button id="logout">Logout</button>
  <button id="new-image">New image</button>
  <button id="to-gallery">Go to gallery</button>
</nav>

<h1>Saved Workspace</h1>

<h2>Welcome back, <span id="username"></span> </h2>

<div class="container" id="img-container">
  <!-- <img src="./img/users/sample1.jpg"  width="500px">
  <img src="./img/users/sample2.jpg"  width="500px">
  <img src="./img/users/sample3.jpg"  width="500px">
  <img src="./img/users/images4.jpeg" width="500px"> -->
</div>

<!-- <button id="getSess">get session</button> -->




<!-- 5ac4798ac759e365d7728f39 -->


<script src="image_gallery.js"></script>

</body>
</html>