<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Image Imagination</title>
  <link rel="stylesheet" href="./css//image_gallery.css">
  <script src="./lib/jquery-3.3.1.min.js"></script>

</head>

<body>

<nav>
  <!-- <form action="/logout" method="DELETE">
    <input id="logout" type="submit" value="Logout">
  </form> -->

  <button id="logout">Logout</button>
  <button id="new-image">New image</button>
  <button id="to-gallery">Go to gallery</button>
  <button id="to-workspace">Go to workspace</button>
</nav>

<h1 id="title">Saved Workspace</h1>

<h2>Welcome back, <span id="username"></span> </h2>

<input type="date" name="start-date"> -
<input type="date" name="end-date">

<div class="container" id="img-container">
</div>

<div class="workspace-top" id="workspace-container">
</div>


<script src="./js/image_gallery.js"></script>

</body>
</html>