<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Image Imagination</title>
  <link rel="stylesheet" href="./css/loginpage.css">
  <script src="./lib/jquery-3.3.1.min.js"></script>


</head>

<body>

<div class="cont_core">

  <div class="cont_middle">
    <div class="cont_login">
      <!-- <form action=""> -->
        <div class="cont_tabs_login">
          <ul class='ul_tabs'>
            <li class="active"><a href="#" id="sign_in_tab" >SIGN IN</a>
              <span class="nom"></span>
            </li>
            <li><a href="#" id="sign_up_tab">SIGN UP</a><span class="nom"></span>
            </li>
          </ul>
        </div>
        <div class="cont_text_inputs">

          <input type="text" class="input_form_sign d_block active_inp" placeholder="USERNAME" name="username_us" required="required"/>
          <input type="email" class="input_form_sign" placeholder="EMAIL" name="email_us" required="required"/>

          <input type="password" class="input_form_sign d_block  active_inp" placeholder="PASSWORD" name="pass_us" required="required"/>
          <input type="password" class="input_form_sign" placeholder="CONFIRM PASSWORD" name="conf_pass_us" required="required"/>

          <a href="" class="link_forgot_pass d_block">Forgot Password ?</a>
          <div class="terms_and_cons d_none">

          </div>
        </div>
        <div class="cont_btn">
          <button class="btn_sign" id="sign-in-btn">SIGN IN</button>
          <button class="btn_sign" style="display:none;" id="sign-up-btn">SIGN UP</button>
        </div>

      <!-- </form> -->
    </div>
  </div>
</div>



<script src="./js/login_design.js"></script>
<script src="./js/login_logic.js"></script>

</body>

</html>