<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Image Imagination</title>
  <link rel="stylesheet" href="./css/public_gallery.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="./lib/jquery-3.3.1.min.js"></script>
  

</head>

<body>



<nav>
  <span class="title">Public Gallery</span>
  
  <div class="search-wrapper">
    <input type="text" placeholder="Search.." name="search" />
    <button class="left" id="search-txt-btn"><i class="fa fa-search"></i></button>
  </div>

  <button class="right style1" id="logout">Logout</button>
  <button class="right" id="new-image">New image</button>
  <button class="right" id="to-workspace">Workspace</button>

</nav>

<div id="mainpage">

  <div class="filter-tools">
    
    <div class="filter-tool-item">
      <label class="label-filter">Date range</label>
      <input type="date" name="start-date"> - <input type="date" name="end-date">
    </div>
    
    <div class="filter-tool-item">
      <label class="label-filter">Tag</label>
      <select id="tag-select">
        <option value="all">All</option>
        <option value="nature">Nature</option>
        <option value="people">People</option>
        <option value="life">Life</option>
        <option value="city">City</option>
      </select>
    </div>
    
    <div class="filter-tool-item">
      <label class="label-filter">Sort by</label>
      <select id="img-order">
        <option value="default">Default</option>
        <option value="date">Date</option>
        <option value="likeNum">Popularity</option>
        <option value="commentNum">Comment</option>
      </select>
    </div>
    
  </div>


  <!-- <a id="modal-link">Open Modal window</a> -->

  <div class="container" id="img-container">
  </div>
</div>

  <!-- modal dialog  -->

<div id="openModal" class="modalDialog">
  <div>
    <a title="Close" class="close">X</a>
    
    <div class="modal-container">
      
      <img src="">
      
      <div class="comment-box-wrapper">
        <div class="comment-scroll" id="comment-buffer">
          <!-- <div class="comment-box">
            <div class="author">Susana</div>
            <div class="comment-text">excellent!!</div>
          </div>
          <div class="comment-box">
            <div class="author">tapatim</div>
            <div class="comment-text">sempre bella</div>
          </div> -->
        </div>
        
        <div class="add-comment">
          <textarea placeholder="Add comment here ..."></textarea>  
          <button id="comment-submit">submit</button>   
        </div>
      </div>
      
    </div>    
    
  </div>
</div>



<script src="./js/public_gallery.js"></script>

</body>
</html>