<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Image Imagination</title>
  <link rel="stylesheet" href="./css/workspace.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="./lib/jquery-3.3.1.min.js"></script>

</head>

<body>


<nav>
  <span class="title">Saved Workspace</span>
  
  <button class="style1" id="logout">Logout</button>
  <button id="new-image">New image</button>
  <button id="to-gallery">Gallery</button>

</nav>

<div id="mainpage">
  
  <!-- <h1 id="title">Saved Workspace</h1> -->
  
  <h2>Welcome back, <span id="username"></span></h2>
  
  
  <div class="img-top" id="img-container">
  <div class="workspace-top" id="workspace-container">
  </div>
  
</div>


<script src="./js/workspace.js"></script>

</body>
</html>



