.container, .workspace-top {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}


.frame-img, .work-img {
  /* width: auto; */
  max-height: 350px;
  margin: 5px 5px;
  /* padding-bottom: 75% */
  max-width: 40vw;
}

.like-icon {
  width: 40px;
  cursor: pointer;
}
.like-btn{
  background: none;
  border: none;
  padding: 0;
}
.like-btn:active, .like-btn:focus {
  outline: none;
}

.like-num {
  font-size: 36px;
  vertical-align: top;
  padding-left: 20px;
}

.work-img {
  border: 1px dotted black;
}

.sub-work-container:hover {
  cursor: pointer;
}

