body {
  background-image: url("../css/bgimg.jpg");
  line-height: 1;
  font-family: sans-serif;
  background-color: black;
  margin: 0;
}

button:focus {
  outline: 0;
}


/* nav bar */
nav {
  background-color: black;
  height: 40px;
  padding: 5px;
}
nav button {
  color: white;
  background: Transparent;
  margin-top: 6px;
  font-size: 1.4rem;
  border: none;
  cursor: pointer;
}
nav button.right {
  float: right;
  padding: 0 10px;
}

#navBar {
  height: 40px;
  background-color: black;
  height: 40px;
  padding: 5px;
}

#navBar button {
  color: white;
  cursor: pointer;
  float: right;
  margin: 0 5px;
}

#navBar button.style1 {
  vertical-align: middle;
  margin-bottom: 15px;
  height: 40px;
  background-color: #22A7F0;
  border-radius: 10px;
  cursor: pointer;
  border: 1px solid #22A7F0;
  text-align: center;
  font-size: 1.2rem;
}

#navBar button.style2 {
  background: Transparent;
  margin-top: 6px;
  font-size: 1.4rem;
  border: none;
}

#navBar .h3 {
  font-size: 2.2rem;
  color: #22A7F0;
  margin: 0px 0px 0px 0px;
}

#contentArea {
  display: flex;
  width: 100%;
}

#contentAreaLeft {
  width: 20%;
  min-width: 210px;
  max-width: 300px;
  display: flex;
  padding: 5px;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
}


/* left */

button.imageEditorButtons {
  vertical-align: middle;
  margin-bottom: 15px;
  height: 50px;
  width: 95%;
  background-color: #22A7F0;
  border-radius: 10px;
  cursor: pointer;
  color: #fff;
  border: 1px solid #22A7F0;
  text-align: center;
  font-size: 100%;
}

button.imageEditorButtons:hover {
  /* effect of last two buttons button  */
  color: #22A7F0;
  background-color: rgba(255,255,255,0.8);
  border: 1px solid #22A7F0;
}

/* left 2  */

#imageEditor {
  width: 100%;
  display: grid;
  grid-template: repeat(2,60px) / repeat(3, 1fr);
  grid-gap: 10px;
}

#slidingbar button {
  margin: 10px 5px;
}

#slidingbar {
  display: flex;
  border-bottom: 1px solid #22A7F0;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 5px;
  width: 100%;
  align-content: flex-start;
}

#slidingbar p {
  width: 100%;
  height: 40px;
  margin: 5px 0px 0px 0px;
}

#slidingbar input {
  position: relative;
  width: 100%;
}

#slidingbar label {
  /* display: inline-block; */
  width: 100%;
  font-size: 1.1rem;
  color: white;
  margin: 10px 0 10px 0;
}

#slidingbar button {
  background-color: Transparent;
  cursor: pointer;
  border: none;
}
#slidingbar button:hover {
  background-color: rgba(255,255,255,0.3);
}

#slidingbar select {
  /* display: inline-block; */
  height: 1.5rem;
  background-color: #fff;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  font-size: 1rem;
  color: #22A7F0;
  margin: 10px 1px 10px 1px;
  border color: #22A7F0;
  width: 100%
}

#slidingbar input[type=range] {
  -webkit-appearance: none;
  border-radius: 10px;
  height: 5px;
  vertical-align: middle;
  margin: auto;
  width: 100%;
  margin-bottom: 5px;
}

.styling-text-btn {
  width: 28%;
}

/* individual */

.textBtnGroup button {
  vertical-align: middle;
  height: 95%;
  background-color: #22A7F0;
  border-radius: 10px;
  cursor: pointer;
  color: #fff;
  border: 1px solid #22A7F0;
  text-align: center;
  font-size: 100%;
  margin: 5px;
  max-width: 80px;
  min-width: 40%;
}

.filter-image-btn {
  background-color: #22A7F0;
  border-radius: 10px;
  cursor: pointer;
  color: #fff;
  border: 1px solid #22A7F0;
  text-align: center;
  font-size: 23px;
  min-width: 75px;
  margin-left: 5px;
}

.addComponentButtons {
  border: none;
  background: none;
  border-radius: 80px;
  outline: none;
  cursor: pointer;
}

#uploadButton {
  padding: 11px;
}

.addComponentButtons:hover img {
  filter: brightness(120%);
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

/* Tooltip text */
#imageEditor .tooltiptext {
    display: none;
    width: 60px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    top: 180px;
    position: absolute;
    z-index: 1;
}

#imageEditor button:hover .tooltiptext {
    display: inherit;
}


/*  */

input[type=range]::-webkit-slider-runnable-track {
  height: 5px;
  background: #FFF;
  border: none;
  border-radius: 5px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 15px;
  width: 15px;
  background: #22A7F0;
  margin-top: -5px;
  border-radius: 50%;
  vertical-align: middle;
  cursor: pointer;
}

#contentAreaRight {
  padding: 10px;
  width: 80%;
  diplay: flex;
  border-left: 2px solid #22A7F0;
  min-width: 720px;
}

#control-btn {
  padding-bottom: 5px;
}

.farbtastic, .farbtastic .wheel {
  margin: auto;
}

#control-btn label {
  color: #FFF;
  margin: auto;
}

#control-btn .controlButtons {
  vertical-align: middle;
  margin-bottom: 15px;
  height: 42px;
  background-color: rgba(113, 70, 122, 0.8);
  border-radius: 10px;
  cursor: pointer;
  color: #fff;
  border: none;
  text-align: center;
  font-size: 100%;
  min-width: 80px;
  margin-left: 5px;
}


#control-btn .controlButtons:hover {
  background-color: rgba(255,255,255, 0.8);
  color: rgb(113, 70, 122);
}


/* .image-group-btn, .paint-group-btn {
  display: none;
} */

#camera-snap-btn {
  vertical-align: middle;
  margin-bottom: 15px;
  height: 100px;
  background-color: rgba(113, 70, 122, 0.8);
  border-radius: 10px;
  cursor: pointer;
  color: #fff;
  border: none;
  text-align: center;
  font-size: 2rem;
  width: 300px;
}

#colorpicker {
  /* display: none; */
  width: 100%;
}

#box {
  background-color: #faf5f5c4;
  /* width: calc(100vw - 20% - 100px);
  height: calc(100vh - 200px); */
}

#tmp_box {
  /* display: none; */
  width: calc(100vw - 20% - 100px);
  height: calc(100vh - 200px);
}

/* for text editing use */
textarea {
  /* display: none; */
  position: fixed;
  background-color: rgba(0,0,0,0);
  padding: 0;
  overflow: hidden;
  text-align: center;
}

/* style transfer */
#style-popover-wrapper {
  position: absolute;
  margin-top: -5px;
  margin-left: 100px;
  background-color: #d4b7b7;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  z-index: 10;
}

.style-transfer-btn {
  width: 100px;
  height: 100px;
  padding: 0 5px;
  cursor: pointer;
}

.style-transfer-btn:hover {
  filter: brightness(120%);
}

/* zoom stage */
.zoom-wrapper {
  position: fixed;
  bottom: 16px;
  right: 30vw;
  width: 322px;
}

.zoom-btn {
  vertical-align: middle;
  background-color: #22A7F0;
  border-radius: 6px;
  cursor: pointer;
  color: #fff;
  border: 1px solid #22A7F0;
  text-align: center;
  font-size: 14px;
  width: 21px;
}
.zoom-wrapper #resize-range {
  -webkit-appearance: none;
  border-radius: 10px;
  height: 5px;
  vertical-align: middle;
  margin-bottom: -2px;
}
.zoom-wrapper #resize-factor {
  color: white;
  padding-left: 5px;
}

/* loader */
#loader {
  position: fixed;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #93b0c3;
  width: 80px;
  height: 80px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


.hide {
  display: none;
}

/* modal */
.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
  /* width: 500px;
  height: 600px; */
	background: rgba(0,0,0,0.8);
	z-index: 99;
	opacity: 0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}
.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}

.modalDialog > div {
	width: 60vw;
  max-width: 300px;
	position: relative;
	margin: 10% auto;
	padding: 20px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
}

.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
  cursor: pointer;
}

.close:hover { background: #00d9ff; }

/* modal details */
.modal-container label {
  display: inline-block;
  width: 118px;
  text-align: left;
  font-size: 20px;
}

#share-title {
  font-size: 20px;
  width: 140px;
}

#tag-select {
  height: 1.5rem;
  background-color: #fff;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  font-size: 1rem;
  color: #22A7F0;
  margin: 10px 1px 10px 1px;
  width: 100px;
}

#submit-share-btn {
  vertical-align: middle;
  margin-bottom: 15px;
  height: 40px;
  background-color: #22A7F0;
  border-radius: 10px;
  cursor: pointer;
  border: 1px solid #22A7F0;
  text-align: center;
  font-size: 1.2rem;
  color: white;
  margin-left: 37%;
  margin-top: 16px;
}




