/* .container, .workspace-top {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.sub-container {
  width: 22%;
}
.frame-img, .work-img {
  width: 100%;
  margin: 5px 5px;
}  */

body {
  margin: 0;
  background-image: url("../css/bgimg.jpg");
}

#mainpage {
  padding: 0 10px;
}

nav .title {
  font-size: 2.2rem;
  color: #22A7F0;
  font-weight: bold;
  margin-right: 62px;
  font-family: sans-serif;
}

.container, .workspace-top {
  column-count: 4;
  column-gap: 5px;
}

/* navigation bar */

nav {
  background-color: black;
  height: 45px;
  padding: 5px;
}
nav button {
  color: white;
  background: Transparent;
  margin-top: 6px;
  font-size: 1.4rem;
  border: none;
  cursor: pointer;
  float: right;
  margin: 6px 6px;
}

nav button.style1 {
  vertical-align: middle;
  margin-bottom: 15px;
  height: 40px;
  background-color: #22A7F0;
  border-radius: 10px;
  cursor: pointer;
  border: 1px solid #22A7F0;
  text-align: center;
  font-size: 1.2rem;
  margin-top: 0;
}

/* workspace */

h2 {
  color: white;
  font-family: cursive;
  margin-left: 37px;
  margin-bottom: 33px;
}

#workspace-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  z-index: 9;
}

.sub-work-container {
  width: 22%;
  min-width: 190px;
  max-width: 250px;
  box-shadow: 0 4px 8px 0 rgba(255,255,255,0.4);
  transition: 0.3s;
  margin: 10px;
  background: #ffffffd5;
  border-radius: 8px;
}
.sub-work-container:hover {
  box-shadow: 0 6px 16px 0 rgba(255,255,255,0.4);
}
.sub-work-container p {
  padding: 10px 16px 0px 16px;
  border-top: 1px solid black;
}
.sub-work-container p .last {
  font-weight: bold;
}

.work-img {
  height: 150px;
}

.sub-work-container:hover {
  cursor: pointer;
}



/* images */

@media only screen and (max-width: 1200px){
  .container {
    column-count: 3;
  }
}
@media only screen and (max-width: 900px){
  .container{
    column-count: 2;
  }
}
@media only screen and (max-width: 600px){
  .container {
    column-count: 1;
  }
}

.sub-container {
  width: 100%;
}
.frame-img, .work-img {
  width: 100%;
}
