/* .container, .workspace-top {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.sub-container {
  width: 22%;
}
.frame-img, .work-img {
  width: 100%;
  margin: 5px 5px;
}  */

body {
  margin: 0;
}

#mainpage {
  padding: 0 10px;
}

.container, .workspace-top {
  column-count: 4;
  column-gap: 5px;
}

@media only screen and (max-width: 1200px){
  .container, .workspace-top {
    column-count: 3;
  }
}
@media only screen and (max-width: 900px){
  .container, .workspace-top {
    column-count: 2;
  }
}
@media only screen and (max-width: 600px){
  .container, .workspace-top {
    column-count: 1;
  }
}

nav {
  background-color: black;
  height: 40px;
  padding: 5px;
}
nav button {
  color: white;
  background: Transparent;
  margin-top: 6px;
  font-size: 1.4rem;
  border: none;
  cursor: pointer;
  float: right;
  margin: 6px 6px;
}
nav button.style1 {
  vertical-align: middle;
  margin-bottom: 15px;
  height: 40px;
  background-color: #22A7F0;
  border-radius: 10px;
  cursor: pointer;
  border: 1px solid #22A7F0;
  text-align: center;
  font-size: 1.2rem;
  margin-top: 0;
}

.sub-container {
  width: 100%;
}
.frame-img, .work-img {
  width: 100%;
}



.work-img {
  border: 1px dotted black;
}

.sub-work-container:hover {
  cursor: pointer;
}


